#root, .modal{
    width: 100vw;
    overflow-x: hidden;
}
.MuiDataGrid-virtualScrollerContent, .MuiDataGrid-columnHeaders{
    overflow: visible;
}
.modal-dialog{
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
}
.calendario, .commesse, .presenze{
    width: 100%;
}

@media (min-width: 991.98px) {
    .calendario{
        position: relative;
        width: 25%;
        float: right;
    }
    .commesse{
        position: relative;
        width: 25%;
        float: right;
    }
    .presenze{
        position: relative;
        height: 90vh;
        float: left;
        width: 75%;
    }
}