.cont_01{
  display: flex;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
}
#main_body{
  border: 0.3vh solid black;
  min-width: 40vh;
  min-height: 60vh;
  display: grid;
  padding: 5vh;
}

#main_body input{
  display: block;
  border-radius: 5%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

#main_body h3{
  text-align: center;
}

#azienda_temp{
  border: 0.3vh solid black;
  min-width: 40vh;
  min-height: 60vh;
  display: grid;
  padding: 5vh;
  margin-right: 5vw;
}

#azienda_temp h3{
  text-align: center;
}

#azienda_temp div{
  border-radius: 5%;
  margin-top: 3vh;
  margin-bottom: 3vh;
}

@media screen and (max-width:720px) {
  .cont_01{
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cont_01 #azienda_temp{
    margin: 5vw;
  }
}