.cont_01{
    display: flex;
    justify-content: center;
    width: 80%;
    marginLeft: 10%;
    marginBottom: 10vh;
  }
  
  #main_body h3{
    text-align: center;
  }
  
  #azienda_temp{
    border: 0.3vh solid black;
    min-width: 40vh;
    min-height: 60vh;
    display: grid;
    padding: 5vh;
    marginRight: 5vw;
  }
  
  #azienda_temp h3{
    text-align: center;
  }
  
  #azienda_temp div{
    border-radius: 5%;
    marginTop: 3vh;
    marginBottom: 3vh;
  }
  
  @media screen and (max-width:720px) {
    .cont_01{
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cont_01 #azienda_temp{
      marginRight: 0;
      marginBottom: 5vh;
    } 
  }
  #pop_back{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 110vw;
    background: rgba(0,0,0,0.5);
  
  }
  #pop_body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10vh;
    background: white;
    border: 0.2vh solid black;
    border-radius: 10%;
  } 