.calendar{
    width: 100%
}
.react-calendar__navigation > * :hover,.react-calendar__navigation:hover{
    background-color: #295764 !important;
    
}
.react-calendar__navigation > *, .react-calendar__navigation{
    background-color: #295764;
}