.rowCont{
    --n: 5;
    display: grid;
    grid-template-columns: repeat(auto-fill,
             minmax(max(200px,(100% - (var(--n) - 1)*10px)/var(--n)), 1fr));
    gap: 10px;
    margin: 5px;
  }
  .rowCont div{
    width: 100%;
  }